<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body,
        html,
        #wrapper {
            width: 99%;
            height: 99%
        }

        #wrapper {
            display: table
        }

        #main {
            display: table-cell;
            text-align: center
        }
    </style>
</head>

<body style="background-color:black;">
    <div id="wrapper">
       <div id="main">
          <h1 style="color: white; text-align: center;">App 2</h1>
          <h2 style="color: white; text-align: center;">This App can receive data from App1</h2>
          <br>
          <textarea style="color: white; text-align: center;" name="data" id="data" cols="80" rows="30"></textarea> 

       </div> 
    </div>
</body>

</script>

</html>